{% extends 'core/base.html' %}
{% load static %}

    {% block content %}
    <main>
        <section class="courses" id="courses">
            <h2 class="title-section">Cursos</h2>
            <div class="container">
                <h3 class="subtitle-section">Desarrollo Web</h3>
                <section class="web">
                {% for card in cards_web %}                    
                    <article class="card animate__animated animate__wobble">
                        <div class="card-img">
                            <a href="#">
                                <img src="{% static 'core/img/python.jpg' %}" alt="Python">
                            </a>
                        </div>
                        <h3 class="title-course">{{card.title}}</h3>
                        <div class="card-information">
                            <p><b>Inicio: </b>{{card.date}}</p>
                            <p><b>Costo: </b>{{card.price}}USD</p>
                        </div>
                        <div class="card-description-btn">
                            <p>{{card.description}}</p>
                            <a class="btn" href="#">Ver más -></a>
                        </div>
                    </article>
                    {% endfor %}
                        </section>
                <h3 class="subtitle-section">Desarrollo Movíl</h3>
                <section class="mobile">
                {% for card in cards_mobile %}
                    <article class="card">
                        <div class="card-img">
                            <a href="#">
                                <img src="{% static 'core/img/Android.jpg' %}" alt="Python">
                            </a>
                        </div>
                        <h3 class="title-course">{{card.title}}</h3>
                        <div class="card-information">
                            <p><b>Inicio: </b>{{card.date}}</p>
                            <p><b>Costo: </b>{{card.price}}USD</p>
                        </div>
                        <div class="card-description-btn">
                            <p>{{card.description}} </p>
                            <a class="btn" href="#">Ver más -></a>
                        </div>

                    </article>
                    {% endfor %}
            </div>
        </section>
        </section>
    </main>
    {% endblock %}
    {% block js %}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="{% static 'core/js/title.js' %}"></script>
    {% endblock %}